.control-dots {
  position: relative;
  transform: translateY(40px) !important;
  z-index: 40;
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
}
.carousel button,
.carousel p {
  display: none !important;
}

.carousel li {
  display: flex;
  justify-content: center;
}

.carousel .thumbs-wrapper {
  display: none;
}

.carousel {
  border-radius: 20px;
}

.carousel .card {
  transition: 0.7s ease opacity;
}
.carousel .card img {
  border-radius: 20px;
}

.carousel ul {
  transition-duration: 1200ms !important;
}
