.input::placeholder {
  color: #2661d7;
}

.card-shadow {
  -webkit-box-shadow: 30px 23px 101px -6px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 30px 23px 101px -6px rgba(0, 0, 0, 0.24);
  box-shadow: 30px 23px 101px -6px rgba(0, 0, 0, 0.14);
}
