.heroSection {
  height: 100vh;
  margin-top: -78px;
  display: flex;
  align-items: center;
  padding: 0 45px;
}

.gridContainer {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 400px auto;
  margin: 0 auto;
  align-items: center;
}

/* TEXT */

.textContainer {
  padding-left: 60px;
}

.textContainer h1 {
  font-size: 48px;
  line-height: 52px;
  margin-top: 0;
  margin-bottom: 30px;
}

.textContainer h3 {
  font-size: 26px;
  line-height: 40px;
  margin-top: 0;
  margin-bottom: 0px;
  font-weight: 400;
}

.textContainer p {
  font-size: 18px;
  margin-bottom: 50px;
  max-width: 550px;
}

@media only screen and (max-width: 1024px) {
  .textContainer h1 {
    font-size: 40px;
    line-height: 48px;
  }

  .textContainer h3 {
    font-size: 22px;
    line-height: 28px;
  }

  .textContainer p {
    max-width: unset;
    font-size: 18px;
  }

  .gridContainer {
    justify-content: center;
    grid-template-columns: auto;
  }

  .textContainer {
    padding-left: 0px;
  }

  .carousel {
    display: none;
  }

  .card {
    display: none;
  }
}

@media only screen and (max-width: 640px) {
  .textContainer h3 {
    font-size: 18px;
    line-height: 26px;
  }

  .heroSection {
    margin-top: 40px;
    display: block;
    align-items: center;
  }

  .heroSection {
    padding: 0 20px;
  }
  .textContainer {
    width: 100%;
  }

  .heroSection h1 {
    font-size: 32px;
    line-height: 40px;
  }

  .textContainer p {
    font-size: 18px;
  }
}

@media only screen and (max-width: 380px) {
  .heroSection {
    margin-top: 0px;
    display: flex;
    align-items: center;
  }

  .heroSection {
    padding: 0 20px;
  }
  .textContainer {
    width: 100%;
  }

  .heroSection h1 {
    font-size: 32px;
    line-height: 40px;
  }

  .textContainer p {
    font-size: 18px;
  }
  .textContainer h3 {
    font-size: 30px;
  }
}
