.hero-section {
  height: 100vh;
  margin-top: -78px;
  display: flex;
  align-items: center;
  padding: 0 45px;
}

.grid-container {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 400px auto;
  margin: 0 auto;
  align-items: center;
}

/* TEXT */

.text-wrapper {
  padding-left: 60px;
}

.text-wrapper h1 {
  font-size: 48px;
  line-height: 52px;
}

.text-wrapper p {
  font-size: 20px;
  margin-bottom: 50px;
  max-width: 550px;
}

.input::placeholder {
  color: #2661d7;
}

/* CAROUSEL */

.carousel button,
.carousel p {
  display: none !important;
}

.carousel li {
  display: flex;
  justify-content: center;
}

.carousel .thumbs-wrapper {
  display: none;
}

.card {
  transition: 0.7s ease opacity;
}

.carousel ul {
  transition-duration: 1200ms !important;
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
}

.carousel .control-dots {
  position: relative;
  transform: translateY(40px) !important;
  background: blue;
  z-index: 40;
}

@media only screen and (max-width: 1024px) {
  .text-wrapper h1 {
    font-size: 40px;
    line-height: 48px;
  }

  .text-wrapper p {
    max-width: unset;
    font-size: 18px;
  }

  .text-wrapper h3 {
    font-size: 28px;
  }

  .grid-container {
    justify-content: center;
    grid-template-columns: auto;
  }

  .text-wrapper {
    padding-left: 0px;
  }

  .carousel {
    display: none;
  }

  .card {
    display: none;
  }
}

@media only screen and (max-width: 640px) {
  .hero-section .flex-container {
    margin-top: 50px;
    display: block;
  }

  .hero-section {
    padding: 0 20px;
  }
  .text-wrapper {
    width: 100%;
  }

  .hero-section h1 {
    font-size: 32px;
    line-height: 40px;
  }

  .text-wrapper p {
    font-size: 18px;
  }
  .text-wrapper h3 {
    font-size: 30px;
  }
}
